@import "../../../assets/css/var.scss";

#aheader {
    background-color: $donkerblauw;
    height: 100vh;
    display: grid;
    justify-items: center;
    grid-template-rows: 200px auto;
    position: sticky;
    top: 0.1px;
    left: 0.1px;
    box-shadow: 1px 1px 4px black;
}

#logo{
    grid-row: 1;
    display: grid;
    border-bottom: 1px solid $donkergrijs;
}

#logoimg{
    width: 75%;
    margin: auto;
}

.navlinks{
    color: white;
    font-size: 200%;
    height: 50px;
    width: 90%;
    padding: 3%;
}